
<div class="" *ngIf="owner != null;else elseBlock">
    <div class="profile-content">
        <div class="container">
            <div class="row">
                <div class="col-md-6 ml-auto mr-auto">
                   <div class="profile">
                        <div class="display-f-center mt-3">
                            <img src="https://i.imgur.com/N2fYgvD.png" alt="Circle Image" class="img-raised rounded-circle img-fluid">
                        </div>
                        <div class="name">
                            <h3 class="title display-f-center">{{owner.username}}</h3>
                            <div class="details">
                                <h5>Ime:</h5><h4>{{owner.name}}</h4>
                                <h5>Prezime:</h5><h4>{{owner.lastName}}</h4>
                                <h5>E-mail:</h5><h4>{{owner.email}}</h4>
                                <h5>Telefon:</h5><h4>{{owner.phone}}</h4>
                            </div>
                            <h6 class="display-f-center">Vlasnik brodova</h6>
                        </div>
                    </div>
                </div>
            </div>
            <div class="description text-center">
                <p>Glavni cilj portala za nekretnine jeste zadovoljavanje potreba naših klijenata, bilo individualnih internet korisnika ili agencija, na bolji i efikasniji način od naših konkurenata. U nameri da ostvarimo ovaj cilj, kreiran je program usluga za naše korisnike koji se po svojim bitnim karakteristikama diferenciraju od drugih portala u ove svrhe. </p>
                
            </div>
            <div class="justify-content-end" style="display: flex;" *ngIf="ownerLoggedIn">
                <a routerLink="/editProfile" routerLinkActive="active"  class="btn  btn-link btn-dribbble"><i class="fa fa-edit"></i>Izmeni podatke</a>
            </div>
            <div>
            </div>
            <div class="row">
                <div class="col-md-6 ml-auto mr-auto">
                    <div class="profile-tabs">
                      <ul class="nav nav-pills nav-pills-icons justify-content-center" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" href="#boats" role="tab" data-toggle="tab">
                              <i class="material-icons">sailing</i>
                              Brodovi
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#reservations" role="tab" data-toggle="tab" *ngIf="ownerLoggedIn">
                              <i class="material-icons">list</i>
                                Rezervacije
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#charts" role="tab" data-toggle="tab" *ngIf="ownerLoggedIn">
                              <i class="material-icons">bar_chart</i>
                                Izveštaji
                            </a>
                        </li>
                      </ul>
                    </div>
            </div>
        </div>
    
      <div class="tab-content tab-space">
        <div class="tab-pane active text-center gallery" id="boats">
              <app-boat-gallery-owner [ownerId]="ownerId" *ngIf="ownerLoggedIn"></app-boat-gallery-owner>
              <app-boat-gallery-visitor [ownerId]="ownerId" *ngIf="!ownerLoggedIn"></app-boat-gallery-visitor>
          </div>
        <div class="tab-pane text-center gallery" id="reservations">
            <app-reservations-ownerpage [ownerId]="ownerId" [ownerType]="'B'"></app-reservations-ownerpage>
        </div>
        <div class="tab-pane text-center gallery" id="charts">
              <div class="row">
                  <app-boat-reports [ownerId]="ownerId"></app-boat-reports>
              </div>
          </div>
      </div>

    
        </div>
    </div>
</div>
<ng-template #elseBlock>
    <h2>Nepostojeći vlasnik broda.</h2>
</ng-template>