<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />

<div class="container" style="overflow-y: scroll; height:600px;">
  <div class="row justify-content-center">
    <div class="col-12 col-sm-8 col-lg-6">
      <div class="section_heading text-center wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
        <div class="line"></div>
      </div>
    </div>
  </div>
  <div class="row">
         
    <div *ngFor="let cottage of cottages" class="col-12 col-sm-6 col-lg-4">
        <div class="single_advisor_profile wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
          
          <a routerLink="/cottageProfile/{{cottage.id}}">
            <div class="advisor_thumb">
              <img src="https://i.ibb.co/BwyHmPf/2784-xl-0v-Fwu-F.jpg" alt=""> 
            </div> 
          </a>
          <p class="cottage-location">
            Lokacija , Grad <i class="material-icons">location_on</i>
          </p>
          <div class="single_advisor_details_info">
            <h2>{{cottage.name}}</h2>
            <p class="designation">
                {{cottage.capacity}} <i class="material-icons">people</i>
                <br />
                {{cottage.bedCount}} <i class="material-icons">bed</i>
            </p>
            <div style="display: flex;">
              <a routerLink="/calendar/{{cottage.id}}"><span class="material-icons">today</span></a>
              <h6>Kalendar zauzetosti</h6>
            </div>
          </div>
        </div>
    </div>
          
  </div>
</div>