.card {
    max-width: 400px;
    max-height: 100%;
}

.title {
    font-size: 1.5em;
    display: block;
    font-weight: bold;
    text-align: center;
}

mat-form-field {
    display: block;
}

p {
    display: block;
    text-align: center;
}