<mat-card class="card">
    <h1 class="title">Change Password</h1>
    <p>Please enter the desired new password.</p>
    <p>Every password must be 8-30 characters long.</p>
    <mat-card-content class="card-content">
        <form [formGroup]="data">
            <!-- New Password -->
            <mat-form-field style="margin-top: 50px">
                <input type="password" matInput formControlName="newPassword" placeholder="New Password" name="newPassword">
            </mat-form-field>
            
            <!-- Confirm New Password -->
            <mat-form-field>
                <input type="password" matInput formControlName="confirmNewPassword" placeholder="Confirm New Password" name="confirmNewPassword">
            </mat-form-field>
        </form>
    </mat-card-content>
    <mat-card-actions style="text-align: center;">
        <button mat-button (click)="onUpdateClick()">UPDATE</button>
        <button mat-button (click)="onCancelClick()">CANCEL</button>
    </mat-card-actions>
</mat-card>