<div class="container-fluid mt-2 mb-3">
    <div class="row no-gutters">
        <div class="col-md-5 pr-2">
            <div class="card">
                <div class="demo">
                    <ul class="lightSlider add-new-img">
                        <li data-thumb="https://i.imgur.com/KZpuufK.jpg">
                            <i class="material-icons" style="font-size: 14em;">add_photo_alternate</i>
                        </li>
                    
                    </ul>
                    
                    <div class="card mt-2" style="padding: 1px; margin-left: -5px; padding-right: 5px;"> 
                        <div class="similar-products mt-2 d-flex flex-row">
                            <div class="card border p-1" style="width: 9rem;margin-right: 3px;">
                                <i class="fa fa-file-plus"></i> 
                                <div class="card-body">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
           
        </div>
        <div class="col-md-7">
            <div class="card grid-2col-30-70">
                <h1 class="font  font-weight-bold"> Naziv:</h1>
                <input type="text" name="cottageName" [(ngModel)]="name">
                <h1 class="font  font-weight-bold"> Tip broda:</h1>
                <input type="text" name="cottageName" [(ngModel)]="boatType">
                    
                <h2 class="font-weight-bold"> <span class="text-muted">Cena po danu:</span></h2>
                <input  type="number" min="0" [(ngModel)]="price" >
                
                <span class="font-weight-bold">Kapcitet ljudi:</span>
                <input  type="number" [(ngModel)]="capacity">

                <span class="font-weight-bold">Broj motora:</span>
                <input  type="number" [(ngModel)]="numOfEngines">
                
                <span class="font-weight-bold">Snaga motora:</span>
                <input  type="number" [(ngModel)]="powerOfEngines">
                
                <span class="font-weight-bold">Brzina motora:</span>
                <input  type="number" [(ngModel)]="maxSpeed">
                    
                <span class="font-weight-bold">Opis:</span>
                <textarea  type="text" rows="10" cols="40" [(ngModel)]="promoDescription"></textarea>
                            
                <span class="font-weight-bold">Dodatne usluge (novi red za svaku dodatnu uslugu):</span>
                <textarea  [(ngModel)]="extraFavorsString" name="equipment" placeholder="Oprema"></textarea>

                <span class="font-weight-bold">Uslovi otkazivanja:</span>
                <textarea  [(ngModel)]="reservationCancellationTerms" name="equipment" placeholder="Uslovi otkazivanja"></textarea>

                    
            </div>            
            <div class="buttons">
                <button class="btn btn-outline-warning btn-long cart" (click)="addNewBoat()">Dodaj brod</button>
            <hr>
            </div>
        </div>
    </div>
</div>
