@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");

body {
    background-color: #eee;
    font-family: "Poppins", sans-serif
}

.card {
    background-color: #fff;
    padding: 14px;
    border: none
}

.demo {
    width: 100%
}

ul {
    list-style: none outside none;
    padding-left: 0;
    margin-bottom: 0
}

li {
    display: block;
    float: left;
    margin-right: 6px;
    cursor: pointer
}

img {
    display: block;
    height: auto;
    width: 100%
}

.stars i {
    color: #f6d151
}

.stars span {
    font-size: 13px
}

hr {
    color: #d4d4d4
}

.badge {
    padding: 5px !important;
    padding-bottom: 6px !important
}

.badge i {
    font-size: 10px
}

.profile-image {
    width: 35px
}

.comment-ratings i {
    font-size: 13px
}

.username {
    font-size: 12px
}

.comment-profile {
    line-height: 17px
}

.date span {
    font-size: 12px
}

.p-ratings i {
    color: #f6d151;
    font-size: 12px
}

.btn-long {
    padding-left: 35px;
    padding-right: 35px
}

.buttons {
    margin-top: 15px
}

.buttons .btn {
    height: 46px
}

.buttons .cart {
    border-color: #3f51b5;
    color: #3f51b5
}

.buttons .cart:hover {
    background-color: #3f51b5 !important;
    color: #fff
}

.buttons .buy {
    color: #fff;
    background-color: #3f51b5;
    border-color: #3f51b5
}

.buttons .buy:focus,
.buy:active {
    color: #fff;
    background-color: #3f51b5;
    border-color: #3f51b5;
    box-shadow: none
}

.buttons .buy:hover {
    color: #3f51b5;
    background-color: #fff;
    border-color: #3f51b5
}

.buttons .wishlist {
    background-color: #fff;
    border-color: #3f51b5
}

.buttons .wishlist:hover {
    background-color: #3f51b5;
    border-color: #3f51b5;
    color: #fff
}

.buttons .wishlist:hover i {
    color: #fff
}

.buttons .wishlist i {
    color: #3f51b5
}

.comment-ratings i {
    color: #f6d151
}

.followers {
    font-size: 9px;
    color: #d6d4d4
}

.store-image {
    width: 42px
}

.dot {
    height: 10px;
    width: 10px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    margin-right: 5px
}

.bullet-text {
    font-size: 12px
}

.my-color {
    margin-top: 10px;
    margin-bottom: 10px
}

label.radio {
    cursor: pointer
}

label.radio input {
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
    pointer-events: none
}

label.radio span {
    border: 2px solid #8f37aa;
    display: inline-block;
    color: #8f37aa;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    text-transform: uppercase;
    transition: 0.5s all
}

label.radio .red {
    background-color: red;
    border-color: red
}

label.radio .blue {
    background-color: blue;
    border-color: blue
}

label.radio .green {
    background-color: green;
    border-color: green
}

label.radio .orange {
    background-color: orange;
    border-color: orange
}

label.radio input:checked+span {
    color: #fff;
    position: relative
}

label.radio input:checked+span::before {
    opacity: 1;
    content: '\2713';
    position: absolute;
    font-size: 13px;
    font-weight: bold;
    left: 4px
}

.card-body {
    padding:0;
}

.mt-50 {
    margin-top: 50px
}

.mb-50 {
    margin-bottom: 50px
}

.bg-teal-400 {
    background-color: #26a69a
}

a {
    text-decoration: none !important
}
.actions{
    display: grid;
    grid-template-columns: minmax(300px, 100%);
    gap: 10px;
}
.action-card-body {
    padding: 30px 15px;
    background: #e9ecff;
}
.action-info{

    display: grid;
    grid-template-columns: 30% 70%;
    grid-gap: 10px;
}

.action-img{

    width: 150px;
    margin-right: 15px;
}
.action-info-d {
    background: #aed5ff;
    border-radius: 20px 0;
    text-align: center;
    font-size: 1.1em;
    padding: 5px;
}

.action-price{

    background: #fecc35;
    border-radius: 17px 17px 0 0;
}

.action-btn-r {

    border-radius: 0 0 15px 15px;

}

.grid-2col-30-70{
    display: grid;
    grid-template-columns: 30% 70%;
    gap: 15px;    
}

.add-new-img{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20vh;
}