<div class="container-fluid mt-2 mb-3" *ngIf="boat != null; else elseBlock">
    <div class="row no-gutters">
        <div class="col-md-5 pr-2">
            <div class="card">
                <div class="demo">
                    <ul class="lightSlider">
                        <li data-thumb="https://i.imgur.com/KZpuufK.jpg"> <img style="width: 145%;" src="../../../../../assets/images/boats/b1.jpg" /> </li>
                        <!--
                        <li data-thumb="https://i.imgur.com/GwiUmQA.jpg"> <img src="https://i.imgur.com/GwiUmQA.jpg" /> </li>
                        <li data-thumb="https://i.imgur.com/DhKkTrG.jpg"> <img src="https://i.imgur.com/DhKkTrG.jpg" /> </li>
                        <li data-thumb="https://i.imgur.com/kYWqL7k.jpg"> <img src="https://i.imgur.com/kYWqL7k.jpg" /> </li>
                        <li data-thumb="https://i.imgur.com/c9uUysL.jpg"> <img src="https://i.imgur.com/c9uUysL.jpg" /> </li>
                        <li data-thumb="https://i.imgur.com/KZpuufK.jpg"> <img src="https://i.imgur.com/KZpuufK.jpg" /> </li>
                        <li data-thumb="https://i.imgur.com/GwiUmQA.jpg"> <img src="https://i.imgur.com/GwiUmQA.jpg" /> </li>
                        <li data-thumb="https://i.imgur.com/DhKkTrG.jpg"> <img src="https://i.imgur.com/DhKkTrG.jpg" /> </li>
                        <li data-thumb="https://i.imgur.com/kYWqL7k.jpg"> <img src="https://i.imgur.com/kYWqL7k.jpg" /> </li>
                        <li data-thumb="https://i.imgur.com/c9uUysL.jpg"> <img src="https://i.imgur.com/c9uUysL.jpg" /> </li>
                        <li data-thumb="https://i.imgur.com/KZpuufK.jpg"> <img src="https://i.imgur.com/KZpuufK.jpg" /> </li>
                        <li data-thumb="https://i.imgur.com/GwiUmQA.jpg"> <img src="https://i.imgur.com/GwiUmQA.jpg" /> </li>
                        <li data-thumb="https://i.imgur.com/DhKkTrG.jpg"> <img src="https://i.imgur.com/DhKkTrG.jpg" /> </li>
                        <li data-thumb="https://i.imgur.com/kYWqL7k.jpg"> <img src="https://i.imgur.com/kYWqL7k.jpg" /> </li>
                        <li data-thumb="https://i.imgur.com/c9uUysL.jpg"> <img src="https://i.imgur.com/c9uUysL.jpg" /> </li>
                        -->
                    </ul>
                    
                    <div class="card mt-2" style="padding: 1px; margin-left: -5px; padding-right: 5px;"> 
                        <div class="similar-products mt-2 d-flex flex-row">
                            <div class="card border p-1" style="width: 9rem;margin-right: 3px;"> <img src="../../../../../assets/images/boats/b1.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                </div>
                            </div>
                            <div class="card border p-1" style="width: 9rem;margin-right: 3px;"> <img src="../../../../../assets/images/boats/b2.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                </div>
                            </div>
                            <div class="card border p-1" style="width: 9rem;margin-right: 3px;"> <img src="../../../../../assets/images/boats/b3.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                </div>
                            </div>
                            <div class="card border p-1" style="width: 9rem;margin-right: 3px;"> <img src="../../../../../assets/images/boats/b4.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                </div>
                            </div>
                            <div class="card border p-1" style="width: 9rem;"> <img src="../../../../../assets/images/boats/b1.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mt-2">
                <h6>Utisci</h6>
                <div class="d-flex flex-row">
                    <div class="stars"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> </div> <span class="ml-1 font-weight-bold">4.6</span>
                </div>
                <hr>
                <div class="badges"> <span class="badge bg-light ">All (230)</span> <span class="badge bg-light "> <i class="fa fa-image"></i> 23 </span> <span class="badge bg-light "> <i class="fa fa-comments-o"></i> 23 </span> <span class="badge bg-warning"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <span class="ml-1">2,123</span> </span> </div>
                <hr>
                <div class="comment-section">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="d-flex flex-row align-items-center"> <img src="https://i.imgur.com/o5uMfKo.jpg" class="rounded-circle profile-image">
                            <div class="d-flex flex-column ml-1 comment-profile">
                                <div class="comment-ratings"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> </div> <span class="username">Lori Benneth</span>
                            </div>
                        </div>
                        <div class="date"> <span class="text-muted">2 May</span> </div>
                    </div>
                    <hr>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="d-flex flex-row align-items-center"> <img src="https://i.imgur.com/tmdHXOY.jpg" class="rounded-circle profile-image">
                            <div class="d-flex flex-column ml-1 comment-profile">
                                <div class="comment-ratings"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> </div> <span class="username">Timona Simaung</span>
                            </div>
                        </div>
                        <div class="date"> <span class="text-muted">12 May</span> </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-7">
            <div class="card">
                <div class="d-flex flex-row align-items-center">
                    <div class="p-ratings"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> </div> <span class="ml-1">5.0</span>
                </div>
                <div class="about"> 
                    <h1 class="font  font-weight-bold">{{boat.name}}</h1>
                    <div>
                        <span class="text-muted">Cena po danu:</span> <h2 class="font-weight-bold">${{boat.price}}</h2>
                    </div>
                </div>
                <div class="buttons">
                    <span [matTooltip]="reservationTooltipText" [matTooltipDisabled]="hasFreePeriods && canReserve">
                        <button style="margin-right: 7px" class="btn btn-outline-warning btn-long cart" (click)="openReservationDialog()" [disabled]="!hasFreePeriods || !canReserve" *ngIf="clientLoggedIn">Rezerviši</button>
                    </span>                  
                        <button style="margin-right: 7px" class="btn btn-warning btn-long buy" routerLink="/calendar/{{boat.id}}" [disabled]="!isAuthentified"><i class="fa fa-calendar-check-o"></i> Proveri dostupnost </button> 
                        
                        <button class="btn btn-light wishlist" (click)="addSubscription()" *ngIf="!isSuscribed && clientLoggedIn"> <i class="fa fa-bell"></i> Pretplati se </button> 
                        <button class="btn btn-light wishlist" (click)="removeSubscription()" *ngIf="isSuscribed && clientLoggedIn"> <i class="fa fa-bell-slash"></i> Odjavi se </button> 
                </div>
                <hr>
                <div class="product-description">
                    <div><span class="font-weight-bold">Broj soba:</span><span> 2</span></div>
                    <div><span class="font-weight-bold">Broj kreveta:</span><span> 4</span></div>
                    <br />
                    <div><span class="font-weight-bold">Kapcitet ljudi:</span><span> 17</span></div>
                    <hr >
                    <div class="mt-2"> <span class="font-weight-bold">Opis:</span>
                        <p>
                            {{boat.description}}    
                        </p>
                        <hr >       
                        <div class="bullets">
                            <span class="font-weight-bold">Dodatne usluge:</span>
                            <div *ngFor="let extraFavor of extraFavors" class="d-flex align-items-center"> 
                                <span class="dot"></span> <span class="bullet-text">{{extraFavor}}</span> 
                            </div>
                        </div>
                    </div>
                    <hr >
                    <div class="mt-2"> <span class="font-weight-bold">Izdavač</span> </div>
                    <div class="d-flex flex-row align-items-center">
                        <a  routerLink="/boatOwner/{{boat.ownerId}}" [class.clickable]="!isAuthentified">
                            <img src="https://i.imgur.com/N2fYgvD.png" class="rounded-circle store-image">
                        </a>
                        <a routerLink="/boatOwner/{{boat.ownerId}}" [class.clickable]="!isAuthentified">
                            <div class="d-flex flex-column ml-1 comment-profile">
                                <div class="comment-ratings"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> </div> <span class="username">{{ownerName}}</span> <small class="followers">25K Followers</small>
                            </div>
                        </a>
                    </div>
                    <hr >

                        <div class="">
                            <div class="actions">
                                <span class="font-weight-bold">Akcije za brod:</span>
                                <div *ngFor="let action of actions" class="card action-card-body">
                                    <div  class="media align-items-center align-items-lg-start text-center text-lg-left flex-column flex-lg-row">
                                        <div class="action-img"> <img src="../../../../../assets/images/boats/b1.jpg" alt=""> </div>
                    
                                        <div class="media-body">
                                            <h4 class="media-title font-weight-semibold">{{boat.name}}</h4>
                                            <div class="action-info">
                                                <span class="text-muted">Početak:</span><span class="action-info-d">{{action.getStartDateString()}}</span>
                                                <span class="text-muted">Kraj:</span><span class="action-info-d">{{action.getEndDateString()}}</span>
                                               </div>
                                        </div>
                                        <div class="mt-3 mt-lg-0 ml-lg-3 text-center">
                                            <h3 class="mb-0 font-weight-semibold action-price" >${{action.totalPrice}}</h3>
                                            <button type="button" class="btn btn-primary text-white action-btn-r" (click)="openActionConfirmDialog(action)" [disabled]="!isAuthentified">Rezerviši</button>                                           
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
            
        </div>
    </div>
</div>
<ng-template #elseBlock>
    <h2>Nepostojeci brod.</h2>
</ng-template>